*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    }
    
    body{
    
    background:linear-gradient(
    135deg,
    #00b4db,
    #0083b0
    );
    
    min-height:100vh;
    color:white;
    }
    
    nav{
    
    display:flex;
    justify-content:space-between;
    padding:25px 50px;
    align-items:center;
    }
    
    nav ul{
    
    display:flex;
    list-style:none;
    gap:30px;
    }
    
    .hero{
    
    padding:30px;
    }
    
    .container{
    
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
    gap:50px;
    }
    
    .left{
    
    width:50%;
    }
    
    .left h1{
    
    font-size:55px;
    margin-bottom:20px;
    }
    
    .left p{
    
    font-size:18px;
    line-height:1.7;
    margin-bottom:30px;
    }
    
    .cards{
    
    display:flex;
    gap:20px;
    }
    
    .card{
    
    background:white;
    color:black;
    padding:25px;
    border-radius:20px;
    width:180px;
    text-align:center;
    box-shadow:0px 5px 20px rgba(0,0,0,.2);
    }
    
    .right{
    
    background:white;
    padding:30px;
    border-radius:25px;
    width:420px;
    }
    
    input{
    
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    background:#f2f2f2;
    font-size:15px;
    }
    
    button{
    
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    
    background:#0083b0;
    color:white;
    
    font-size:18px;
    cursor:pointer;
    transition:.3s;
    }
    
    button:hover{
    
    background:#006080;
    }
    
    .result{
    
    margin-top:20px;
    font-size:22px;
    text-align:center;
    font-weight:bold;
    color:#0083b0;
    }
    
    @media(max-width:900px){
    
    .container{
    
    flex-direction:column;
    }
    
    .left{
    
    width:100%;
    text-align:center;
    }
    
    .right{
    
    width:100%;
    }
    
    .cards{
    
    justify-content:center;
    }
    
    }