<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>GlucoNova | Diabetes Risk Intelligence</title>

<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<div class="hero">

<nav>
<h2>🩺 GlucoNova</h2>

<ul>
<li>Home</li>
<li>Prediction</li>
<li>About</li>
</ul>
</nav>


<div class="container">

<div class="left">

<h1>Diabetes Risk Intelligence</h1>

<p>
Advanced AI powered diabetes risk prediction system.
Enter patient health values and receive an instant prediction.
</p>

<div class="cards">

<div class="card">
<h2>74%</h2>
<p>Model Accuracy</p>
</div>

<div class="card">
<h2>24/7</h2>
<p>AI Monitoring</p>
</div>

</div>

</div>


<div class="right">

<form method="POST">

<input type="number" name="Pregnancies" placeholder="Pregnancies" required>

<input type="number" name="Glucose" placeholder="Glucose" required>

<input type="number" name="BloodPressure" placeholder="Blood Pressure" required>

<input type="number" name="SkinThickness" placeholder="Skin Thickness" required>

<input type="number" name="Insulin" placeholder="Insulin" required>

<input type="number" step="0.1" name="BMI" placeholder="BMI" required>

<input type="number" step="0.001" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function" required>

<input type="number" name="Age" placeholder="Age" required>


<button type="submit">
Predict Risk
</button>

</form>

<div class="result">

{{result}}

</div>

</div>

</div>

</div>

<script src="{{ url_for('static',filename='script.js') }}"></script>

</body>
</html>